.card_type-service {
  transition: 300ms;
  & a {
    color: unset;
    &:hover {
      text-decoration: none;
    }
  }
  & h6 {
    font-weight: bold;
    transition: 300ms;
  }
  & .icon-container {
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 105px;
    height: 105px;
    position: relative;
    box-shadow: 0px 0px 0px 2px $color__secondary;
    transition: 300ms;
    & img {
      max-height: 45px;
      max-width: 45px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &:hover {
    transition: 300ms;
    & h6 {
      color: $color__secondary;
      transition: 300ms;
    }
    & .icon-container {
      background-color: $color__secondary;
      box-shadow: 0px 0px 0px 5px $color__secondary, 0px 0px 0px 10px #fff,
        0px 0px 0px 15px $color__secondary;
      transition: 300ms;
      & img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.card_type-whyus {
  background: rgba(0, 0, 0, 0.5);
  border-left: 4px solid $color__secondary;
  padding: 20px 15px;
  color: #fff;
  & h4 {
    color: #fff;
  }
  & p {
    color: #fff;
  }
  & .icon {
    font-size: 42px;
  }
}

.card_type-footer {
  & h3 {
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  & .quick-link {
    & li {
      list-style: none;
      & span {
        transition: 300ms;

        &:hover {
          color: $color__secondary;
          transition: 300ms;
        }
      }
      & a {
        color: #fff;
        transition: 300ms;

        & span {
          margin-right: 10px;
          font-size: 9px;
        }
        &:hover {
          color: $color__secondary;
          text-decoration: none;
          transition: 300ms;
        }
      }
    }
  }
  & iframe {
    width: 100%;
    height: 200px;
  }
}

.card_type-contactform {
  padding: 20px;
  border-radius: 10px;

  & .section__title {
    position: relative;
    padding: 15px 0px;
    display: block;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-weight: bold;

    & span {
      color: $color__secondary;
    }
  } 
  & .wpcf7-text,
  .wpcf7-number {
    border: 0 solid;
    border-radius: 4px;
    background-color: #eee;
    display: block;
    width: 97%;
    padding: 15px 0 15px 10px;
    color: #000;
  }
  & .wpcf7-submit {
    background-color: #f2ac0e;
    padding: 10px 20px;
    display: inline-block;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      transition: 300ms;
      background-color: #d29100;
    }
  }
}

.card_type-contactinfo {
  padding-top: 20px;
  & h3 {
    color: #fff;
    margin: 0px;
  }
  & ul {
    & li {
      color: #fafafa;
      margin: 10px 0px;
      & span {
        font-size: 8px;
        margin-right: 10px;
        color: #d29100;
      }
      & b {
        font-weight: unset;
        // text-shadow: 2px 2px #000;
      }
    }
  }
}

.card_type-about {
  & .card__title {
    font-size: 48px;
    font-weight: bold;
  }
  & .card__content {
    color: #7b7b7b;
    text-align: justify;
  }
  & .card__thumbnail {
  }
}

.card_type-testimonial {
  border-radius: 10px;
  color: #fff;
  & h3 {
    color: #fff;
    font-size: 42px;
    margin: 0px !important;
  }
  & p {
    display: -webkit-box;
    max-width: 100%;
    height: 4.6em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & a {
    color: $color__secondary;
  }
  & footer {
  }
  & blockquote {
    margin: 0 0 20px 0;
    font-size: 22.5px;
    line-height: 1.5;
    font-style: italic;
    color: #fff;
  }
}

.card_type-review {
  & a {
    color: #fff !important;
    & p {
      color: #ffc600 !important;
    }
    & h4 {
      color: #fff !important;
    }
  }
}

.card_type-team{
  &:hover{
    transition: 300ms;
    & .figure img {
      box-shadow: 0px 15px 20px -10px #00000085;
      transition: 300ms;
    }
    & .title {
      top: -15px;
      transition: 300ms;
    }
  }
  & .figure img {
    border-radius: 10px;
    overflow: hidden;
    transition: 300ms;

  }
  & .title {
    background-color: $color__secondary;
    display: inline-block;
    padding: 5px 10px;
    top: -18px;
    position: relative;
    border-radius: 5px;
    transition: 300ms;

  }

}
